<h1>
    {{
        ( heroe.id ) ? 'Editar' : 'Nuevo'
    }}
    Héroe
     <small>{{heroe.superhero}}</small> </h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="20PX">

            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Super Héroe</mat-label>
                <input matInput type="text" required [(ngModel)]="heroe.superhero">
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required [(ngModel)]="heroe.alter_ego">
            </mat-form-field>

        </div>

        <mat-form-field>
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" required [(ngModel)]="heroe.first_appearance">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput type="text" required [(ngModel)]="heroe.characters">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select required [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let publish of publishers" [value]="publish.id">{{publish.desc}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput type="url" required [(ngModel)]="heroe.alt_img">
        </mat-form-field>

        <br>

        <div fxLayout>
            <button mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{
                    ( heroe.id ) ? 'Actualizar' : 'Crear'
                }}
            </button>

            <span class="spacer"></span>

            <button *ngIf="heroe.id" mat-raised-button color="warn" (click)="borrarHeroe()">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>

    <div fxFlex="50">
        <img [src]="heroe | imagen" alt="">
    </div>

</div>