<p>error-page works!</p>

<ul>
   <li routerLink="/auth/login">Ir al login</li>
   <li routerLink="/auth/register">Ir al registro</li> 
   <li routerLink="/heroes/listado">Ir al Listado</li> 
   <li routerLink="/heroes/agregar">Ir al agregar</li> 
   <li routerLink="/heroes/editar/:id">Ir al editar :id</li>
   <li routerLink="/heroes/buscar">Ir al buscar</li> 
   <li routerLink="/heroes/:id">Ir al :id</li>
</ul>